.buttons {
  display: flex;
  justify-content: center;
  margin: 0.6em 0;
}

.buttons > * {
  padding: 0.3em 0.5em;
  margin: 0 0.3em;
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  border-radius: 0.2em;
  box-shadow: 0 0 0 1px white;
}