body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  
  --html:(
    <h1>Hello ${data.name}!</h1>
    <p>This page was constructed entirely within the CSS file. That includes all the data, markup, scripts, and also styles.</p>
    <p>click the items below to toggle.</p>
    <nav>Title</nav>
  );
  --data:(
    name:'world',
  );
}