@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
body {
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;

  --body: html(
    <h1>Hello ${data.name}!</h1>
    <p>This page was constructed entirely within the CSS file. That includes all the data, markup, scripts, and also styles.</p>
    <p>click the items below to toggle.</p>
    <nav>Title</nav>
  );
  --data: jso(
    name: 'world',
  );
}