nav {
  --data: json(
    "name": ["one", "two", "three"],
    "link": ["#one", "#two", "#three"]
  );

  --prepare: js(
    data.link = data.name.map(name=>`#${name}-${Math.random()}`);
  );

  --body: js-expr(
    [0,1,2].map(i => `
      <a class="item" href="${data.link[i]}">${data.name[i]}</a>
    `).join('')
  );

  --script: js(
    console.log(this, data)
  );
}

nav .item {
  cursor: pointer;

  --script: js(
    function toggle() {
      this.classList.toggle('active');
    }

    this.addEventListener('click', toggle);
  );
}

nav .item.active {
  color: red;
}