nav {
  --data:(
    "name": ["one", "two", "three"],
    "link": ["#one", "#two", "#three"]
  );

  --html:(
    <a class="item" href="${data.link[0]}">${data.name[0]}</a>
    <a class="item" href="${data.link[1]}">${data.name[1]}</a>
    <a class="item" href="${data.link[2]}">${data.name[2]}</a>
  );

  --js:(
    console.log(this, data)
  );
}

nav .item {
  cursor: pointer;

  --js:(
    function toggle() {
      this.classList.toggle('active');
    }

    this.addEventListener('click', toggle);
  );
}

nav .item.active {
  color: red;
}