@import url('buttons.css');

.click-demo {
  --data: json({
    "name": ["one", "two", "three"],
    "link": []
  });

  --prepare: js(
    this.classList.add('buttons');
    data.link = data.name.map((name, index) => (`#${name}-${index + 1}`));
  );

  --body: js-expr(
    [0, 1, 2].map(i => `
      <a href="${data.link[i]}">${data.name[i]}</a>
    `).join('')
  );

  --script: js(
    console.log(this, data)
  );
}

.click-demo > * {
  --script: js(
    function toggle() {
      this.classList.toggle('active');
    }

    this.addEventListener('click', toggle);
  );
}

.click-demo > .active {
  outline: none;
  text-shadow: 0 0 5px white;
  box-shadow: 0 0 5px white;
}